.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  //font-size: 1rem;
  line-height: 1.5;
  color: currentColor;
  cursor: pointer;
  z-index: $z-index-control-1;
  transition: all ease $duration-faster;

  &__icon {
    //font-size: 0.5em;
    z-index: 15;

    @extend %position-absolute-full;
    @extend %display-flex-centered;

    svg {
      display: block;
      //width: 1em;
      //height: auto;
    }
  }

  &__label {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    z-index: 15;
    text-transform: uppercase;
    white-space: normal;
    transition: all ease $duration-faster;

    &__bottom {
      top: 100%;
      right: 0;
      left: 0;
      margin-top: 1.2em;
    }

    &__center {
      @extend %position-absolute-full;
      @extend %display-flex-centered;
    }
  }

  &__circles {
    //width: 1em;
    //height: 1em;
    min-height: 100%;
    z-index: 10;
    position: relative;
    transition: all ease $duration-faster;

    @extend %display-flex-centered;

    &__item {
      @extend %display-flex-centered;

      position: absolute;

      &:nth-of-type(1) {
        position: relative;
        @extend %animation__rotate-left-1;
      }

      &:nth-of-type(2) {
        @extend %animation__rotate-right-2;
      }

      &:nth-of-type(3) {
        @extend %animation__rotate-left-4;
      }

      &:nth-of-type(4) {
        @extend %animation__rotate-right-3;
      }

      svg {
        display: block;
        //width: 100%;
        //height: auto;
      }
    }
  }

  &__glow {
    //width: 1em;
    //height: 1em;
    z-index: 5;
    opacity: 0.55;
    transition: all ease $duration-faster;
    transform: scale(0.95);

    @extend %position-absolute-full;
    @extend %display-flex-centered;

    svg {
      display: block;
      //width: 100%;
      //height: auto;
    }
  }

  &__pointer {
    position: absolute;
    top: -2em;
    left: 4.225em;

    &__line {
      //width: 0.75em;

      svg {
        //width: 100%;
        //height: auto;
        display: block;
      }
    }

    &__label {
      font-size: 1rem;
      text-align: right;
      position: absolute;
      right: 0;
      bottom: 100%;
    }

    &__decor {
      position: absolute;
      right: 0;
      bottom: 100%;
      margin-bottom: 18%;

      svg {
        display: block;
        width: 0.3em;
        height: auto;
      }
    }
  }

  &.btn-xl {
    > .btn__label {
      font-weight: 500;
      font-size: 28px;
      line-height: 35px;
      padding: 3em;
    }
  }

  &:hover {
    transform: scale(1.1);

    .btn__glow {
      opacity: 1;
      transform: scale(1.25);
    }

    .btn__circles {
      transform: rotate(90deg);

      //&__item {
      //
      //  &:nth-of-type(1) {
      //    transform: scale(0.75);
      //  }
      //
      //  &:nth-of-type(2) {
      //    transform: rotate(90deg);
      //  }
      //}
    }

    .btn__label {
      text-shadow: 2px 2px 20px $curiousBlue, -2px -2px 20px $curiousBlue,
        -2px 2px 20px $curiousBlue, 2px -2px 20px $curiousBlue, 0 0 3px $blueWhale;
    }
  }

  &:active {
    transform: scale(1.05);

    .btn__glow {
      opacity: 1;
      transform: scale(1.25);
    }
  }
}
