.nav {
  &__toggler {
    .btn {
      //font-size: 267px;

      &__icon {
        svg {
          width: 63px;
        }
      }

      //&__circles {
      //  &__item {
      //    &:nth-of-type(1) {
      //      width: 100%;
      //    }
      //
      //    &:nth-of-type(2) {
      //      width: 237px;
      //    }
      //
      //    &:nth-of-type(3) {
      //      width: 204px;
      //    }
      //  }
      //}
    }
  }

  &__content {
    z-index: 1000;
    display: none;
    @extend %position-absolute-full;

    &.in {
      display: block;
    }

    &__overlay {
      @extend %position-absolute-full;
    }

    &__link-group {
      @extend %position-absolute-centered;

      display: none;
      width: 63%;
      height: 520px;
      margin: auto;
      flex-wrap: wrap;
      top: 50px;

      &.in {
        display: flex;
      }

      .btn {
        font-size: 150px;
        margin-right: 48px;
        margin-left: 48px;

        @extend %btn-flare;

        &__label {
          font-size: 20px;
          line-height: 25px;
        }

        //&__circles {
        //  &__item {
        //    &:nth-of-type(1) {
        //      width: 150px;
        //    }
        //
        //    &:nth-of-type(2) {
        //      width: 110px;
        //    }
        //  }
        //}

        &.nav-item-2,
        &.nav-item-5,
        &.nav-item-7 {
          [class*='__label'] {
            right: -20px;
            left: -20px;
          }
        }

        &.nav-item-1 {
          [class*='__icon'] svg {
            width: 89px;
          }
        }

        &.nav-item-2 {
          [class*='__icon'] svg {
            width: 94px;
          }
        }

        &.nav-item-3 {
          [class*='__icon'] svg {
            width: 78px;
          }
        }

        &.nav-item-4 {
          [class*='__icon'] svg {
            width: 109px;
          }
        }

        &.nav-item-5 {
          [class*='__icon'] svg {
            width: 65px;
          }
        }

        &.nav-item-6 {
          [class*='__icon'] svg {
            width: 89px;
          }
        }

        &.nav-item-7 {
          [class*='__icon'] svg {
            width: 95px;
          }
        }
      }

      &__level-1 {
        height: 600px;
        margin: auto;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        top: 80px;
        padding: 50px 0;

        width: 55%;
        background-color: rgba($blueWhale, 0.5);
        opacity: 1;
        box-shadow: 0 0 70px rgba(white, 0.5), 0 0 10px 1px $curiousBlue,
          inset 0 0 10px 1px $curiousBlue;
        border: 2px solid white;
      }
    }
  }
}
