.product-presentation {
  &__content {
    height: 100%;
    padding: 50px 200px 50px 50px;
  }

  &__tab {
    position: relative;
    display: none;
    max-height: 100%;
    overflow: auto;

    &.active {
      display: block;
    }
  }

  &__control {
    height: 100%;

    .btn-info {
      width: 49px;
      height: 49px;
      top: 276px;
      right: 99px;
    }

    .btn-rotate-360 {
      width: 50px;
      height: 50px;
      top: 377px;
      right: 99px;
    }

    .btn-info,
    .btn-rotate-360 {
      position: absolute;

      .btn__glow {
        transform: scale(1.35);
      }

      &:hover {
        .btn__glow {
          transform: scale(1.5);
        }
      }

      &:active {
        .btn__glow {
          transform: scale(1.85);
        }
      }
    }
  }

  &__name {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__model {
    position: relative;
    display: block;
    margin: 40px auto;
    width: 460px;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &__rotate-left,
  &__rotate-right {
    position: absolute;
    top: 50px;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 50px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__rotate-left {
    right: 100%;
    margin-right: 50px;
  }

  &__rotate-right {
    left: 100%;
    margin-left: 50px;
  }

  .popup & {
    height: 100%;
  }
}
