// product catalog
.h__pc {
  $catalog-item-size: 253px;
  $catalog-item-bg: $toreaBay;
  $catalog-item-radius: $border-radius-normal;
  $catalog-item-margin: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  z-index: $z-index-layout-top;
  flex-direction: column;
  width: $catalog-item-size * 3 + $catalog-item-margin * 6;
  height: $catalog-item-size * 2 + $catalog-item-margin * 4;
  margin: auto;
  top: 70px;

  @extend %position-absolute-full;

  &__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }

  &__control {
    &-item {
      position: absolute;
      width: 48px;
      height: 48px;
      top: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: block;
        width: 36px;
        height: 36px;
      }

      &-prev {
        left: 0;
        transform: translateX(-100%);
      }

      &-next {
        right: 0;
        transform: translateX(100%);
      }
    }
  }

  &__list-item {
    width: $catalog-item-size;
    height: $catalog-item-size;
    background-color: $catalog-item-bg;
    border-radius: $catalog-item-radius;
    margin: $catalog-item-margin;
    flex-direction: column;
    cursor: pointer;

    @extend %display-flex-centered;

    img {
      display: block;
      max-width: 100%;
      height: 152px;
    }

    figcaption {
      display: block;
      margin-top: 14px;
    }
  }

  &__pagination {
    $pg-item-size: 35px;
    $pg-item-radius: $border-radius-circle;
    $pg-item-active-color: $royalBlue;
    $pg-item-mx: 15px;
    $pg-font-color: #fff;

    margin: 33px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    a {
      color: $pg-font-color;
      text-decoration: none;
    }

    .page-item {
      margin-left: $pg-item-mx;
      margin-right: $pg-item-mx;

      .page-link {
        min-width: $pg-item-size;
        height: $pg-item-size;
        border-radius: $pg-item-radius;
        border: 1px solid white;

        @extend %display-flex-centered;
      }

      &.active {
        .page-link {
          border-color: $royalBlue;
          background-color: $royalBlue;
        }
      }
    }

    .page-item-icon {
      .page-link {
        border: transparent;
      }
    }
  }

  &-big {
    $catalog-item-size: 500px;
    $catalog-item-bg: rgba(#033a52, 80%);
    $catalog-item-radius: $border-radius-normal;
    $catalog-item-margin: 24px;
    $catalog-item-padding: 40px;

    width: $catalog-item-size * 3 + $catalog-item-margin * 6;
    height: $catalog-item-size + $catalog-item-margin * 2;

    .h__pc__list-item {
      width: $catalog-item-size;
      height: $catalog-item-size;
      background-color: $catalog-item-bg;
      border-radius: $catalog-item-radius;
      margin: $catalog-item-margin;
      padding: $catalog-item-padding;
      flex-direction: column;
      cursor: pointer;

      @extend %display-flex-centered;

      img {
        display: block;
        max-width: 100%;
        height: 300px;
      }

      figcaption {
        display: block;
        font-size: 150%;
        margin-top: 24px;
      }
    }
  }
}
