{% import "html/macros/macro-button-link.njk" as macroButtonLink %}

<div class="popup__wrapper fast">
  <div class="popup" data-popup-id="1">
    <div class="popup__content">
      <div class="product-presentation">
        <div class="product-presentation__content">
          <div class="product-presentation__tab active" data-tab-id="1">
            <div class="product-presentation__model">
              <div class="product-presentation__name">ВГТ-220ВГТ-220</div>
              <img src="assets/tmp-1.png" alt="">
              <a href="#" class="product-presentation__rotate-left">{% include "html/icons/icon-arrow-back.svg" %}</a>
              <a href="#" class="product-presentation__rotate-right">{% include "html/icons/icon-arrow-next.svg" %}</a>
            </div>
          </div>
          <div class="product-presentation__tab" data-tab-id="2">
            <div class="h2">ВГТ-220ВГТ-220</div>

            <p>Разработка и производство электротехнической продукции напряжением 110 — 750 кВ, не имеющей аналогов в РФ.
              Разработка и производство электротехнической продукции напряжением 110 — 750 кВ, не имеющей аналогов в РФ.</p>

            <p>Разработка и производство электротехнической продукции напряжением 110 — 750 кВ, не имеющей аналогов в РФ.
              Разработка и производство электротехнической продукции напряжением 110 — 750 кВ, не имеющей аналогов в РФ.</p>

            <p>Разработка и производство электротехнической продукции напряжением 110 — 750 кВ, не имеющей аналогов в РФ.
              Разработка и производство электротехнической продукции напряжением 110 — 750 кВ, не имеющей аналогов в РФ.</p>
          </div>
        </div>
        <div class="product-presentation__control">
          {{ macroButtonLink.buttonLink(
            '#',
            'data-target-id=2',
            'info',
            'html/icons/icon-info.svg',
            'Информация',
            'pointer',
            [],
            'html/icons/radial-glow-3.svg',
            false
          ) }}

          {{ macroButtonLink.buttonLink(
            '#',
            'data-target-id=1',
            'rotate-360',
            'html/icons/icon-rotate-360.svg',
            '3D Модель',
            'pointer',
            [],
            'html/icons/radial-glow-3.svg',
            false
          ) }}
        </div>
      </div>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="2">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>ПАО «МОЭСК»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">Подстанция «Хованская», ПС Лесная </div>
      <div class="h4">Новая Москва Поселение Сосенское, посёлок Газопровод</div>

      <div class="font-style-italic">
        <p>Примечание: В рамках проекта выполняется прокладка кабеля 220 кВ  от строящейся ПС Хованская до действующей ПС Лесная.</p>
      </div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>Жесткая ошиновка 330 кВ</li>
        <li>Трансформаторы тока 330 кВ</li>
        <li>Жесткая ошиновка 330 кВ</li>
        <li>Трансформаторы тока 330 кВ</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="3">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>АО «КрымТЭЦ»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">Симферопольская ТЭЦ</div>
      <div class="h4">Городской округ Симферополь, Республика Крым, Россия</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>Трансформаторы тока 330 кВ</li>
        <li>ЖО 330 кВ</li>
        <li>Разъединители 330 кВ</li>
        <li>ОПН 330 кВ</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="4">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>ОАО «Калининградская генерирующая компания»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">Маяковская ТЭС</div>
      <div class="h4">Гусев, Калининградская область, Россия</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>КМ ОРУ 110 кВ</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="5">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>ОАО «Калининградская генерирующая компания»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">Талаховская ТЭС</div>
      <div class="h4">Калининградская область, Славский городской округ, Россия</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>Жесткая ошиновка 330 кВ</li>
        <li>Трансформаторы тока 330 кВ</li>
        <li>Разъединители типа РПВ и РПГ 330 кВ</li>
        <li>Шинные опоры и ОПН 330 кВ</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="6">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>ОАО «Калининградская генерирующая компания»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">Талаховская ТЭС</div>
      <div class="h4">Губкин, Белгородская область </div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>КМ ОРУ ОРУ 110  кВ</li>
        <li>КТПБ ОРУ 35 кВ </li>
        <li>ОРУ 330 кВ в составе (разъединители, трансформаторы тока, ошиновка жесткая, ОПН, м/к)</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="7">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>«Ветропарк»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">Госкорпорация «Росатом»</div>
      <div class="h4">Белореченск, Республика Адыгея </div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>ПС 220 кВ Ветропарк</li>
        <li>БМ ОРУ 220  ПС Ветропарк</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="8">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>ТЭС «Пригольская»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">ОАО «Калининградская генерирующая компания»</div>
      <div class="h4">Калининградская область, Энергетическая ул., 1, поселок Луговое</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>Жесткая ошиновка 330 кВ</li>
        <li>Трансформаторы тока 330 кВ</li>
        <li>Разъединители типа РПВ и РПГ 330 кВ</li>
        <li>Шинные опоры и ОПН 330 кВ</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="9">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>Комсомольский НПЗ</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">ПАО «Транснефть»</div>
      <div class="h4">Дальний Восток, в районе Хабаровска</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>Подстанция комплектная трансформаторная блочная  на напряжение 220 кВ</li>
        <li>НПС 2, 5, 32</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="10">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>ПАО «Транснефть»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">Нефтеперерабатывающий завод (НПС 5)</div>
      <div class="h4">Иркутская область </div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>Подстанция комплектная трансформаторная блочная на напряжение 220 кВ</li>
        <li>НПС 2, 5, 32</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="11">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>ОАО «Полюс Золото»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">Подстанция (ПС) Мамакан</div>
      <div class="h4">Бодайбо, Иркутская область, Россия</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>БМ ОРУ 220 кВ ПС "Мамакан"</li>
        <li>КМ ОРУ 110 кВ ПС "Мамакан"</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="12">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>АО «Оборонэнерго»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">ПС Воркута</div>
      <div class="h4">Воркута, Республика Коми</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>КРУЭ-110</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="13">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>ПАО «Газпром»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">ПС 110/35/10кВ «ЦПС-Север»</div>
      <div class="h4">Ямал</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>ПС 110/35/10кВ "ЦПС-Север"</li>
        <li>КРУЭ 110кВ ЦПС "Север" (Новопортовское ГТЭС)</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup popup-project" data-popup-id="14">
    <div class="popup__content">
      <div class="h3 font-weight-normal">
        <div>2018 г.</div>
        <div>АО «Татэнерго»</div>
      </div>

      <div class="triple-line"></div>

      <div class="h4">ПС Зеленодольская</div>
      <div class="h4">Россия, Республика Татарстан, Зеленодольск</div>

      <div class="single-line"></div>

      <ul class="ul-glowing-dots font-weight-medium h4">
        <li>БМ ОРУ-220кВ ПС Зеленодольская</li>
      </ul>
    </div>

    {{ macroButtonLink.buttonLink(
      '#',
      '',
      'close',
      'html/icons/icon-square-cross.svg',
      'Закрыть',
      'pointer',
      [],
      'html/icons/radial-glow-3.svg',
      false
    ) }}
  </div>

  <div class="popup__offset"></div>
</div>


