//$curiousBlue: #2d9cdb;
$curiousBlue: #4fb0f2;
//$primary: #0078ab;
$royalBlue: #407adb;
$primary: #1d4ac4;
//$tealBlue: #033a52;
$toreaBay: #0f2c6f;
$tealBlue: #0f2c89;
//$blueWhale: #032b3d;
$blueWhale: #04143f;
