@import "../../theme/animations";

$preloader-size: 591px;
$preloader-color: #ffffff;

.com-preloader {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(#2D9CDB, #122436);

  &__wrapper {
    width: $preloader-size;
    height: $preloader-size;
    color: $preloader-color;
    z-index: 10;

    @extend %position-absolute-centered;
  }

  &__circles {
    position: relative;
    z-index: 10;

    .dashedCircle1 {
      animation: 100s rotate .15s infinite linear, 2s opacity-1-075 .35s infinite ease-in;
    }

    .dashedCircle2 {
      animation: 250s rotate .15s infinite linear;
      animation-direction: reverse;
    }

    .dashedCircle3 {
      animation: 500s rotate .15s infinite linear, 1s opacity-1-075 .15s infinite ease-in;
    }

    .dashedCircle4 {
      animation: 350s rotate .15s infinite linear, 2s opacity-1-075 .35s infinite ease-in;
      animation-direction: reverse;
    }

    .dashedCircle2,
    .dashedCircle3,
    .dashedCircle4 {
      @extend %position-absolute-centered;
    }
  }

  &__logo {
    @extend %display-flex-centered;
    @extend %position-absolute-centered;

    z-index: 15;
  }

  &__glow {
    @extend %display-flex-centered;
    @extend %position-absolute-centered;

    z-index: 5;

    .radialGradient {
      animation: 5s sizeFlicker275 .15s infinite linear;
    }
  }

  &__pointer {
    width: 274px;
    height: 93px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 75%;
    margin: auto;
    z-index: 20;

    .pointer {

    }

    .decor2 {
      position: absolute;
      right: 0;
      top: 15px;

      animation: 2s opacity-1-05 .15s infinite linear;
    }

    &-text {
      position: absolute;
      right: 0;
      bottom: 100%;
      margin-bottom: .5em;
      display: flex;

      animation: 2s opacity-1-05 .15s infinite linear;
    }
  }

  &__decor-top,
  &__decor-bottom,
  &__decor-wave {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
  }

  &__decor-top {
    top: -85px;
  }

  &__decor-bottom {
    bottom: -85px;
  }

  &__decor-wave {
    bottom: 0;
    z-index: 1;
  }
}

%position-absolute-centered {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

%display-flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
