@import '../../node_modules/reset-css/sass/reset';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
}

#app {
  position: relative;
  height: 100%;
  overflow: hidden;
}
