{% macro buttonLink(href, class, icon, content, contentPosition, circles, glow, pointer) %}
  <a href="{{ href }}" class="btn btn-{{ class }}">
    {% if icon %}
      <div class="btn__icon">
        {% include icon %}
      </div>
    {% endif %}

    {% if contentPosition !== 'pointer' %}
      <div class="btn__label btn__label__{{ contentPosition }}">
        {{ content }}
      </div>
    {% endif %}

    {% if circles %}
      <div class="btn__circles">
        {% for circle in circles %}
          <div class="btn__circles__item">
            {% include circle %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if glow %}
      <div class="btn__glow">
        {% include glow %}
      </div>
    {% endif %}

    {% if pointer %}
      <div class="btn__pointer">
        <div class="btn__pointer__line">{% include pointer %}</div>
        <div class="btn__pointer__label">{{ content }}</div>
        <div class="btn__pointer__decor">{% include "html/icons/body-decor-3.svg" %}</div>
      </div>
    {% endif %}
  </a>
{% endmacro %}
