.toc {
  height: 100%;
  display: flex;
  background: radial-gradient(#2D9CDB, #122436);

  &__container {
    line-height: 1.4;
    width: 350px;
    min-height: 300px;
    margin: auto;
    background-color: rgba(white, .95);
    box-shadow: 0 0 30px rgba(black, .25);

    ul {
      //list-style: none;
      padding: 20px 40px;
    }

    a {
      color: black;
    }
  }
}
