.hud {
  $decor-height: 379px;

  height: 100%;
  position: relative;
  z-index: $z-index-hud;

  &__container-decor {
    @extend %position-absolute-full;
  }

  &__bg,
  &__bg__video,
  &__bg__decor-top,
  &__bg__decor-bottom {
    position: absolute;
    right: 0;
    left: 0;
  }

  &__bg,
  &__bg__video,
  &__bg__decor-top {
    top: 0;
  }

  &__bg,
  &__bg__video,
  &__bg__decor-bottom {
    bottom: 0;
  }

  &__bg {
    z-index: $z-index-bg;

    &__video {
      z-index: $z-index-video;
      background-color: #407adb;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &__decor-top,
    &__decor-bottom {
      z-index: $z-index-decor-y;
      height: $decor-height;

      &:before {
        content: '';
        height: 278px;
        position: absolute;
        right: 0;
        left: 0;
        background: transparent url('../assets/squares.png') no-repeat center / cover;
      }
    }

    &__decor-top {
      background: linear-gradient(0deg, rgba(45, 156, 219, 0) 9.24%, $blueWhale 85.71%);

      &:before {
        top: -88px;
        transform: rotate(180deg);
      }
    }

    &__decor-bottom {
      background: linear-gradient(180deg, rgba(45, 156, 219, 0) 1.54%, $blueWhale 70.98%);

      &:before {
        bottom: -76px;
      }
    }
  }

  &__header,
  &__footer {
    position: relative;
    z-index: $z-index-layout-root;
    height: $decor-height;

    &__decor {
      &__container {
        width: 1320px;
        margin: auto;
        position: relative;
        top: 5px;
      }

      &__row-center,
      &__row-space-between {
        display: flex;
      }

      &__row-center {
        justify-content: center;
      }

      &__row-space-between {
        justify-content: space-between;
      }

      &__row-2,
      &__row-3,
      &__row-5 {
        position: absolute;
        right: 0;
        left: 0;
      }

      &__row-2 {
        top: 25px;
      }

      &__row-3 {
        right: -220px;
        left: -220px;
        top: 10px;
      }

      &__row-5 {
        top: 80px;
      }

      &__item-reverse {
        > svg {
          transform: scale(-1, 1);
        }
      }
    }
  }

  &__header {
    &__title {
      font-weight: 500;
      font-size: 28px;
      line-height: 37px;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;

      width: 700px;
      margin: auto;
      position: absolute;
      top: 75px;
      right: 55px;
      left: 0;
    }
  }

  &__footer {
    transform: scale(1, -1);
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;

    &__decor {
      &__row-2 {
        top: 38px;
      }
    }
  }

  &__sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: $z-index-layout-top;
    width: $decor-height;

    &-left {
      left: 0;

      &__decor {
        position: absolute;

        svg {
          display: block;
          width: 100%;
          height: auto;
        }

        //&-1 {
        //  width: 46px;
        //  top: 132px;
        //  right: 229px;
        //}
        //
        //&-2 {
        //  width: 27px;
        //  top: 122px;
        //  right: 178px;
        //}

        &-1 {
          top: 82px;
          left: 74px;

          svg {
            width: 150px;
            height: 150px;
          }
        }
      }
    }

    &-right {
      right: 0;

      &__decor {
        position: absolute;

        svg {
          display: block;
          width: 100%;
          height: auto;
        }

        //&-1 {
        //  width: 27px;
        //  top: 155px;
        //  left: 143px;
        //}
        //
        //&-2 {
        //  //width: 78px;
        //  top: 135px;
        //  left: 184px;
        //
        //  svg {
        //    width: 100px;
        //    height: 100px;
        //  }
        //}

        &-1 {
          width: 46px;
          top: 132px;
          left: 229px;
        }

        &-2 {
          width: 27px;
          top: 122px;
          left: 178px;
        }

        &-3 {
          width: 64px;
          top: 295px;
          left: 204px;
        }

        &-4 {
          width: 122px;
          top: 408px;
          left: 171px;
        }

        &-5 {
          //width: 72px;
          top: 536px;
          left: 178px;
          transform: scale(-1, -1);
        }

        &-6 {
          width: 33px; // 33.83
          top: 655px;
          left: 232px;
        }
      }
    }
  }

  .btn-group-control {
    position: absolute;
    right: 87px;
    bottom: 265px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding: 40px;
    transition: height ease $duration-faster;
    visibility: visible;
    opacity: 1;

    svg {
      transition: transform ease $duration-faster, opacity ease-in-out $duration-most-faster;
      position: relative;
      transform: translateX(100px);
      opacity: 0;
    }

    &.in {
      svg {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .btn {
      + .btn {
        margin-top: 55px;
      }
    }
  }

  .btn-info,
  .btn-zoom-out,
  .btn-rotate-360,
  .btn-catalog {
    position: relative;
  }

  .btn-nav-simple,
  .btn-control,
  &__close {
    position: absolute;
  }

  .btn-nav-simple,
  .btn-info,
  .btn-zoom-out,
  .btn-rotate-360,
  .btn-catalog,
  .btn-control,
  &__close {
    transition: all ease $duration-faster;

    .btn__glow {
      transform: scale(1.35);
    }

    &:hover {
      transform: scale(1.15);

      .btn__glow {
        opacity: 1;
        transform: scale(1.5);
      }
    }

    &:active {
      transform: scale(1.1);

      .btn__glow {
        opacity: 1;
        transform: scale(1.85);
      }
    }
  }

  .btn-nav-simple {
    width: 39px;
    height: 39px;
    top: 79px;
    right: 130px;

    .btn__label__bottom {
      left: -20px;
      right: -20px;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      text-shadow: 0 0 20px $royalBlue;
    }
  }

  .btn-info {
    width: 49px;
    height: 49px;
    //right: 126px;
    //bottom: 516px;
  }

  .btn-zoom-out {
    width: 51px;
    height: 51px;
    right: -4px;
    //right: 124px;
    //bottom: 410px;
  }

  .btn-rotate-360 {
    width: 50px;
    height: 50px;
    //right: 127px;
    //bottom: 305px;
  }

  .btn-catalog {
    width: 46px;
    height: 46px;
    //right: 127px;
    //bottom: 305px;
  }

  .btn-control {
    width: 46px;
    height: 46px;

    .btn__icon {
      svg {
        width: 100%;
        height: 100%;
      }
    }

    .btn__label {
      font-size: 15px;
      right: -20px;
      left: -20px;
      margin-top: 14px;
    }
  }

  .btn-nav-simple,
  .btn-info,
  .btn-zoom-out,
  .btn-rotate-360,
  .btn-catalog,
  .btn-control {
    &:hover {
      .btn__glow {
        transform: scale(2);
      }

      &:active {
        .btn__glow {
          transform: scale(2.75);
        }
      }
    }
  }

  &__close {
    width: 46px;
    height: 46px;
    right: 126px;
    bottom: 60px;
  }

  .nav__toggler {
    position: absolute;
    z-index: $z-index-control-1;
    top: 324px;
    left: 77px;

    .btn {
      height: 269px;

      @extend %btn-flare;
    }

    .btn__pointer__decor {
      svg {
        width: 81px;
      }
    }
  }

  .volume-swiper {
    position: absolute;
    bottom: 69px;
    left: 70px;
  }

  &-article,
  &-map {
    .btn-control {
      right: 127px;
      bottom: 198px;
    }
  }

  &-video-player {
    .btn-control {
      right: 312px;
      bottom: 85px;
    }
  }

  &-map {
    $point-size: 13px;

    z-index: 100;

    &__pointers {
      position: relative;
      z-index: $z-index-control-1 + 5;
    }

    &__point {
      position: absolute;
      width: $point-size;
      height: $point-size;
      cursor: default;

      &:after,
      &:before {
        position: absolute;
        content: '';
        display: block;
      }

      &:after {
        @extend %animation__opacity__1-05__2;

        background: transparent url('../html/icons/body-decor-3.svg') no-repeat center / contain;
        width: 72px;
        height: 59px;
      }

      &:before {
        background: transparent url('../html/icons/pointer-line.svg') no-repeat center / contain;
        width: 274px;
        height: 93px;
      }

      &-top-left {
        &:before {
          transform: scale(-1, 1);
          bottom: 2px;
          right: 2px;
        }

        &:after {
          transform: scale(1, 1);
          right: 211px;
          bottom: 30px;
        }

        .hud-map__label {
          bottom: 105px;
          right: 0;
        }
      }

      &-top-right {
        &:before {
          transform: scale(1, 1);
          bottom: 2px;
          left: 2px;
        }

        &:after {
          transform: scale(-1, 1);
          left: 211px;
          bottom: 30px;
        }

        .hud-map__label {
          bottom: 105px;
          left: 0;
          text-align: right;
        }
      }

      &-bottom-left {
        &:before {
          transform: scale(-1, -1);
          top: 2px;
          right: 2px;
        }

        &:after {
          transform: scale(1, -1);
          right: 211px;
          top: 30px;
        }

        .hud-map__label {
          top: 105px;
          right: 0;
        }
      }

      &-bottom-right {
        &:before {
          transform: scale(1, -1);
          top: 2px;
          left: 2px;
        }

        &:after {
          transform: scale(-1, -1);
          left: 211px;
          top: 30px;
        }

        .hud-map__label {
          text-align: right;
          top: 105px;
          left: 0;
        }
      }
    }

    &__label {
      font-size: 18px;
      font-weight: 500;
      text-shadow: 0 0 8px rgba(#000000, 0.5);
      width: 274px;
      position: absolute;
      transition: all ease $duration-faster;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 15px rgba($curiousBlue, 1);
      }
    }

    &__pointer {
      width: $point-size;
      height: $point-size;
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      transition: all ease $duration-faster;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 10px 2px white;
      }
    }
  }
}
