.hud-main {
  height: 100%;

  &__bg,
  &__bg__video,
  &__bg__decor-top,
  &__bg__decor-bottom {
    position: absolute;
    right: 0;
    left: 0;
  }

  &__bg,
  &__bg__video,
  &__bg__decor-top {
    top: 0;
  }

  &__bg,
  &__bg__video,
  &__bg__decor-bottom {
    bottom: 0;
  }

  &__bg {
    z-index: 0;

    &__video {
      z-index: 5;
    }

    &__decor-top,
    &__decor-bottom {
      z-index: 10;
      height: 379px;

      &:before {
        content: '';
        height: 278px;
        position: absolute;
        right: 0;
        left: 0;
        background: transparent url('../assets/squares.png') no-repeat center / cover;
      }
    }

    &__decor-top {
      background: linear-gradient(0deg, rgba(45, 156, 219, 0) 9.24%, #122436 85.71%);

      &:before {
        top: -88px;
        transform: rotate(180deg);
      }
    }

    &__decor-bottom {
      background: linear-gradient(180deg, rgba(45, 156, 219, 0) 1.54%, #122436 70.98%);

      &:before {
        bottom: -76px;
      }
    }
  }

  &__header,
  &__footer {
    position: relative;
    z-index: 10;
    height: 379px;

    &__decor {
      &__container {
        width: 1320px;
        margin: auto;
        position: relative;
        top: 20px;
      }

      &__row-center,
      &__row-space-between {
        display: flex;
      }

      &__row-center {
        justify-content: center;
      }

      &__row-space-between {
        justify-content: space-between;
      }

      &__row-2,
      &__row-3,
      &__row-5 {
        position: absolute;
        right: 0;
        left: 0;
      }

      &__row-2 {
        top: 25px;
      }

      &__row-3 {
        right: -220px;
        left: -220px;
        top: 10px;
      }

      &__row-5 {
        top: 80px;
      }

      &__item-reverse {
        > svg {
          transform: scale(-1, 1);
        }
      }
    }
  }

  &__header {
    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      text-transform: uppercase;

      color: #ffffff;

      width: 500px;
      margin: auto;
      position: absolute;
      top: 100px;
      right: 55px;
      left: 0;
    }
  }

  &__footer {
    transform: scale(1, -1);
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;

    &__decor {
      &__row-2 {
        top: 38px;
      }
    }
  }

  &__sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 15;
    width: 379px;

    &-left {
      left: 0;

      &__decor {
        position: absolute;

        svg {
          display: block;
          width: 100%;
          height: auto;
        }

        &-1 {
          width: 46px;
          top: 132px;
          right: 229px;
        }

        &-2 {
          width: 27px;
          top: 122px;
          right: 178px;
        }
      }
    }

    &-right {
      right: 0;

      &__decor {
        position: absolute;

        svg {
          display: block;
          width: 100%;
          height: auto;
        }

        &-1 {
          width: 27px;
          top: 155px;
          left: 143px;
        }

        &-2 {
          //width: 78px;
          top: 135px;
          left: 195px;
        }

        &-3 {
          width: 64px;
          top: 295px;
          left: 204px;
        }

        &-4 {
          width: 122px;
          top: 408px;
          left: 171px;
        }

        &-5 {
          //width: 72px;
          top: 536px;
          left: 178px;
          transform: scale(-1, -1);
        }

        &-6 {
          width: 33px; // 33.83
          top: 655px;
          left: 232px;
        }
      }
    }
  }

  .btn-nav-simple,
  .btn-info,
  .btn-zoom-out,
  .btn-rotate-360,
  &__close {
    position: absolute;

    .btn__glow {
      transform: scale(1.35);
    }

    &:hover {
      .btn__glow {
        opacity: 1;
        transform: scale(1.5);
      }
    }

    &:active {
      .btn__glow {
        opacity: 1;
        transform: scale(1.85);
      }
    }
  }

  .btn-nav-simple {
    width: 39px;
    height: 39px;
    top: 79px;
    right: 126px;

    .btn__label__bottom {
      left: -20px;
      right: -20px;
      font-weight: 500;
      font-size: 15px;
      line-height: 19px;
      text-shadow: 0 0 20px #2d9cdb;
    }
  }

  .btn-info {
    width: 49px;
    height: 49px;
    right: 126px;
    bottom: 516px;
  }

  .btn-zoom-out {
    width: 51px;
    height: 51px;
    right: 126px;
    bottom: 410px;
  }

  .btn-rotate-360 {
    width: 50px;
    height: 50px;
    right: 127px;
    bottom: 305px;
  }

  .btn-nav-simple,
  .btn-info,
  .btn-zoom-out,
  .btn-rotate-360 {
    &:hover {
      .btn__glow {
        transform: scale(2);
      }

      &:active {
        .btn__glow {
          transform: scale(2.75);
        }
      }
    }
  }

  &__close {
    width: 46px;
    height: 46px;
    right: 124px;
    bottom: 60px;
  }

  .nav__toggler {
    position: absolute;
    top: 324px;
    right: 34px;

    .btn {
      height: 269px;
    }
  }

  .volume-swiper {
    position: absolute;
    bottom: 69px;
    left: 70px;
  }
}
