.hud-preloader {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(#2d9cdb, #122436);

  &__wrapper {
    width: $preloader-size;
    height: $preloader-size;
    color: $preloader-color;
    z-index: 10;

    @extend %position-absolute-centered;
  }

  &__circles {
    position: relative;
    z-index: 10;

    .dashedCircle1 {
      @extend %animation__rotate-left-1;
    }

    .dashedCircle2 {
      @extend %animation__rotate-right-2;
    }

    .dashedCircle3 {
      @extend %animation__rotate-left-4;
    }

    .dashedCircle4 {
      @extend %animation__rotate-right-3;
    }

    .dashedCircle2,
    .dashedCircle3,
    .dashedCircle4 {
      @extend %position-absolute-centered;
    }
  }

  &__logo {
    @extend %display-flex-centered;
    @extend %position-absolute-centered;

    z-index: 15;
  }

  &__glow {
    @extend %display-flex-centered;
    @extend %position-absolute-centered;

    z-index: 5;

    .radialGradient {
      @extend %animation__size-3;
    }
  }

  &__pointer {
    width: 274px;
    height: 93px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 75%;
    margin: auto;
    z-index: 20;

    .decor2 {
      position: absolute;
      right: 0;
      top: 15px;

      @extend %animation__opacity__1-05__2;
    }

    &-text {
      position: absolute;
      right: 0;
      bottom: 100%;
      margin-bottom: 0.5em;
      display: flex;

      @extend %animation__opacity__1-05__2;
    }
  }

  &__decor-top,
  &__decor-bottom,
  &__decor-wave {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
  }

  &__decor-top {
    top: -85px;
  }

  &__decor-bottom {
    bottom: -85px;
  }

  &__decor-wave {
    bottom: 0;
    z-index: 1;
  }
}
