{% extends "html/templates/simple.njk" %}

{% block documentTitle %}Прелоадер{% endblock %}

{% block content %}

<div class="hud-preloader">
  <div class="hud-preloader__wrapper">
    <div class="hud-preloader__circles">
      {% include "html/icons/circle-decor-0.svg" %}
      {% include "html/icons/circle-decor-8.svg" %}
      {% include "html/icons/circle-decor-9.svg" %}
      {% include "html/icons/circle-decor-10.svg" %}
    </div>

    <div class="hud-preloader__logo">
      {% include "html/icons/logo.svg" %}
    </div>

    <div class="hud-preloader__pointer">
      {% include "html/icons/pointer-line.svg" %}
      {% include "html/icons/pointer-decor.svg" %}

      <div class="hud-preloader__pointer-text">
        <div class="hud-preloader__pointer-text__label">ЗАГРУЗКА............</div>
        <div class="hud-preloader__pointer-text__value">55%</div>
      </div>

    </div>

    <div class="hud-preloader__glow">
      {% include "html/icons/radial-glow.svg" %}
    </div>

    <div class="hud-preloader__decor-top">
      {% include "html/icons/circle-decor-11.svg" %}
    </div>
    <div class="hud-preloader__decor-bottom">
      {% include "html/icons/circle-decor-11.svg" %}
    </div>
  </div>

  <div class="hud-preloader__decor-wave">
    {% include "html/icons/wave-decor.svg" %}
  </div>
</div>

{% endblock %}
