{% extends "html/templates/simple.njk" %}

{% block documentTitle %}Главная{% endblock %}

{% block content %}
  {% import "html/macros/macro-button-link.njk" as macroButtonLink %}
  {% import "html/macros/macro-volume-swiper.njk" as macroVolumeSwiper %}

  <div class="hud hud-catalog">
    <div class="hud__container-decor">
      <div class="hud__bg">
        <div class="hud__bg__video" style="background: url('assets/bg-product.jpg') center / contain;"></div>
        <div class="hud__bg__decor-top"></div>
        <div class="hud__bg__decor-bottom"></div>
      </div>

      <div class="hud__header">
        <div class="hud__header__decor__container">
          <div class="hud__header__decor__row-1 hud__header__decor__row-center">
            <div class="hud__header__decor__item">
              {% include "html/icons/top-lines.svg" %}
            </div>
          </div>
          <div class="hud__header__decor__row-2 hud__header__decor__row-space-between">
            <div class="hud__header__decor__item">
              {% include "html/icons/side-lines.svg" %}
            </div>
            <div class="hud__header__decor__item hud__header__decor__item-reverse">
              {% include "html/icons/side-lines.svg" %}
            </div>
          </div>
        </div>
        <div class="hud__header__title">Оборудование для подстанции</div>
      </div>

      <div class="hud__footer">
        <div class="hud__footer__decor__container">
          <div class="hud__footer__decor__row-1 hud__footer__decor__row-center">
            <div class="hud__footer__decor__item">
              {% include "html/icons/top-lines.svg" %}
            </div>
          </div>
          <div class="hud__footer__decor__row-2 hud__footer__decor__row-space-between">
            <div class="hud__footer__decor__item">
              {% include "html/icons/side-lines.svg" %}
            </div>
            <div class="hud__footer__decor__item hud__footer__decor__item-reverse">
              {% include "html/icons/side-lines.svg" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hud__container-content">
      {% if false %}
        <div class="nav__toggler animated fadeIn" style="display: none;">
          {{ macroButtonLink.buttonLink(
            '#',
            'data-id=0 data-menu-item-parent',
            'nav',
            'html/icons/icon-th.svg',
            'ОТКРЫТЬ МЕНЮ',
            'pointer',
            [
              'html/icons/circle-decor-1.svg',
              'html/icons/circle-decor-2.svg',
              'html/icons/circle-decor-3.svg'
            ],
            'html/icons/radial-glow-2.svg',
            'html/icons/pointer-line-1.svg'
          ) }}
        </div>
      {% endif %}

      {{ macroButtonLink.buttonLink(
        '#',
        '',
        'nav-simple',
        'html/icons/icon-th.svg',
        'меню',
        'bottom',
        [],
        'html/icons/radial-glow-3.svg',
        false
      ) }}

      <div class="h__pc h__pc-big animated fadeIn">
        <div class="h__pc__list">
          <div class="h__pc__control">
            <a href="#" class="h__pc__control-item h__pc__control-item-prev">{% include "html/icons/icon-arrow-back.svg" %}</a>
            <a href="#" class="h__pc__control-item h__pc__control-item-next">{% include "html/icons/icon-arrow-next.svg" %}</a>
          </div>

          <figure class="h__pc__list-item" data-toggle="popup" data-target="[data-popup-id='101']">
            <img src="assets/tmp-1.png" alt="">
            <figcaption>ВГТ-220ВГТ-220</figcaption>
          </figure>

          <figure class="h__pc__list-item" data-toggle="popup" data-target="[data-popup-id='101']">
            <img src="assets/tmp-1.png" alt="">
            <figcaption>ВГТ-220ВГТ-220</figcaption>
          </figure>

          <figure class="h__pc__list-item" data-toggle="popup" data-target="[data-popup-id='101']">
            <img src="assets/tmp-1.png" alt="">
            <figcaption>ТОГФ-110</figcaption>
          </figure>
        </div>

        <ul class="h__pc__pagination">
          <li class="page-item page-item-icon"><a class="page-link" href="#">{% include "html/icons/icon-arrow-back.svg" %}</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><span>...</span></li>
          <li class="page-item"><a class="page-link" href="#">30</a></li>
          {#<li class="page-item-icon disabled"><a class="page-link" href="#">...</a></li>#}
          {#<li class="page-item"><a class="page-link" href="#">30</a></li>#}
          <li class="page-item page-item-icon"><a class="page-link" href="#">{% include "html/icons/icon-arrow-next.svg" %}</a></li>
        </ul>
      </div>
    </div>

    <div class="hud__container-controls">
      {{ macroVolumeSwiper.volumeSwiper(45) }}

      {{ macroButtonLink.buttonLink(
        '#',
        '',
        'close hud__close',
        'html/icons/icon-close.svg',
        'Закрыть',
        'pointer',
        [],
        'html/icons/radial-glow-3.svg',
        false
      ) }}
    </div>
  </div>
{% endblock %}
