{% extends "html/templates/simple.njk" %}

{% block documentTitle %}Главная{% endblock %}

{% block content %}
  {% import "html/macros/macro-button-link.njk" as macroButtonLink %}
  {% import "html/macros/macro-volume-swiper.njk" as macroVolumeSwiper %}

  <div class="hud hud-map">
    <div class="hud__container-decor">
      <div class="hud__bg">
        <div class="hud__bg__video"></div>
        <div class="hud__bg__decor-top"></div>
        <div class="hud__bg__decor-bottom"></div>
      </div>

      <div class="hud__header">
        <div class="hud__header__decor__container">
          <div class="hud__header__decor__row-1 hud__header__decor__row-center">
            <div class="hud__header__decor__item">
              {% include "html/icons/top-lines.svg" %}
            </div>
          </div>
          <div class="hud__header__decor__row-2 hud__header__decor__row-space-between">
            <div class="hud__header__decor__item">
              {% include "html/icons/side-lines.svg" %}
            </div>
            <div class="hud__header__decor__item hud__header__decor__item-reverse">
              {% include "html/icons/side-lines.svg" %}
            </div>
          </div>
        </div>
        <div class="hud__header__title">Проекты</div>
      </div>

      <div class="hud__footer">
        <div class="hud__footer__decor__container">
          <div class="hud__footer__decor__row-1 hud__footer__decor__row-center">
            <div class="hud__footer__decor__item">
              {% include "html/icons/top-lines.svg" %}
            </div>
          </div>
          <div class="hud__footer__decor__row-2 hud__footer__decor__row-space-between">
            <div class="hud__footer__decor__item">
              {% include "html/icons/side-lines.svg" %}
            </div>
            <div class="hud__footer__decor__item hud__footer__decor__item-reverse">
              {% include "html/icons/side-lines.svg" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hud__container-content">
      <div class="btn-group btn-group-control collapse" id="btn-group-1">
        {{ macroButtonLink.buttonLink(
          '#',
          '',
          'info',
          'html/icons/icon-info.svg',
          false,
          'pointer',
          [],
          'html/icons/radial-glow-3.svg',
          false
        ) }}

        {{ macroButtonLink.buttonLink(
          '#',
          '',
          'zoom-out',
          'html/icons/icon-zoom-out.svg',
          false,
          'pointer',
          [],
          'html/icons/radial-glow-3.svg',
          false
        ) }}

        {{ macroButtonLink.buttonLink(
          '#',
          '',
          'catalog',
          'html/icons/icon-catalog.svg',
          false,
          'pointer',
          [],
          'html/icons/radial-glow-3.svg',
          false
        ) }}
      </div>

      {{ macroButtonLink.buttonLink(
        '#btn-group-1',
        'data-toggle=collapse',
        'control',
        'html/icons/icon-control-1.svg',
        'Управление',
        'bottom',
        [],
        'html/icons/radial-glow-3.svg',
        false
      ) }}

      <div class="hud-map__pointers">
        <div class="hud-map__point hud-map__point-top-left" style="top: 450px; left: 700px;">
          <div class="hud-map__pointer" data-toggle="popup" data-target="[data-popup-id='2']"></div>
          <div class="hud-map__label" data-toggle="popup" data-target="[data-popup-id='2']">ОАО «Калининградская генерирующая компания»</div>
        </div>

        <div class="hud-map__point hud-map__point-top-right" style="top: 450px; left: 920px;">
          <div class="hud-map__pointer" data-toggle="popup" data-target="[data-popup-id='3']"></div>
          <div class="hud-map__label" data-toggle="popup" data-target="[data-popup-id='3']">Подстанция «Хованская»</div>
        </div>

        <div class="hud-map__point hud-map__point-bottom-left" style="top: 550px; left: 700px;">
          <div class="hud-map__pointer" data-toggle="popup" data-target="[data-popup-id='4']"></div>
          <div class="hud-map__label" data-toggle="popup" data-target="[data-popup-id='4']">ЛЕБЕДИНСКИЙ ГОК</div>
        </div>

        <div class="hud-map__point hud-map__point-bottom-right" style="top: 550px; left: 920px;">
          <div class="hud-map__pointer" data-toggle="popup" data-target="[data-popup-id='5']"></div>
          <div class="hud-map__label" data-toggle="popup" data-target="[data-popup-id='5']">Нефтеперерабатывающий завод (НПС 5)</div>
        </div>
      </div>
    </div>

    <div class="hud__container-controls">
      {{ macroVolumeSwiper.volumeSwiper(0) }}

      {{ macroButtonLink.buttonLink(
        '#',
        '',
        'nav-simple',
        'html/icons/icon-th.svg',
        'меню',
        'bottom',
        [],
        'html/icons/radial-glow-3.svg',
        false
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        '',
        'close hud__close',
        'html/icons/icon-close.svg',
        'Закрыть',
        'pointer',
        [],
        'html/icons/radial-glow-3.svg',
        false
      ) }}
    </div>
  </div>
{% endblock %}
