{% extends "html/templates/simple.njk" %}

{% block documentTitle %}Главная{% endblock %}

{% block content %}
  {% import "html/macros/macro-button-link.njk" as macroButtonLink %}
  {% import "html/macros/macro-volume-swiper.njk" as macroVolumeSwiper %}

<div class="hud-main">
  <div class="hud-main__bg">
    <div class="hud-main__bg__video" style="background: #0078AB url('assets/bg-main.jpg') no-repeat center / cover;"></div>
    <div class="hud-main__bg__decor-top"></div>
    <div class="hud-main__bg__decor-bottom"></div>
  </div>

  <div class="hud-main__header">
    <div class="hud-main__header__decor__container">
      <div class="hud-main__header__decor__row-1 hud-main__header__decor__row-center">
        <div class="hud-main__header__decor__item">
          {% include "html/icons/top-lines.svg" %}
        </div>
      </div>
      <div class="hud-main__header__decor__row-2 hud-main__header__decor__row-space-between">
        <div class="hud-main__header__decor__item">
          {% include "html/icons/side-lines.svg" %}
        </div>
        <div class="hud-main__header__decor__item hud-main__header__decor__item-reverse">
          {% include "html/icons/side-lines.svg" %}
        </div>
      </div>
      <div class="hud-main__header__decor__row-3 hud-main__header__decor__row-space-between">
        <div class="hud-main__header__decor__item">
          {% include "html/icons/side-decor-1.svg" %}
        </div>
        <div class="hud-main__header__decor__item hud-main__header__decor__item-reverse">
          {% include "html/icons/side-decor-1.svg" %}
        </div>
      </div>
      <div class="hud-main__header__decor__row-4 hud-main__header__decor__row-space-between">
        <div class="hud-main__header__decor__item">
          {% include "html/icons/side-decor-2.svg" %}
        </div>
        <div class="hud-main__header__decor__item hud-main__header__decor__item-reverse">
          {% include "html/icons/side-decor-2.svg" %}
        </div>
      </div>
      <div class="hud-main__header__decor__row-5 hud-main__header__decor__row-center">
        <div class="hud-main__header__decor__item-9">
          {% include "html/icons/center-decor.svg" %}
        </div>
      </div>
    </div>
  </div>

  <div class="hud-main__sidebar hud-main__sidebar-left">
    <div class="hud-main__sidebar-left__decor hud-main__sidebar-left__decor-1">
      {% include "html/icons/body-decor-1.svg" %}
    </div>

    <div class="hud-main__sidebar-left__decor hud-main__sidebar-left__decor-2">
      {% include "html/icons/body-decor-2.svg" %}
    </div>

    <div class="nav__toggler">
      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=0 data-menu-item-parent',
        'nav',
        'html/icons/icon-th.svg',
        'ОТКРЫТЬ МЕНЮ',
        'pointer',
        [
          'html/icons/circle-decor-1.svg',
          'html/icons/circle-decor-2.svg',
          'html/icons/circle-decor-3.svg'
        ],
        'html/icons/radial-glow-2.svg',
        'html/icons/pointer-line-1.svg'
      ) }}
    </div>
  </div>

  <div class="hud-main__sidebar hud-main__sidebar-right">
    <div class="hud-main__sidebar-right__decor hud-main__sidebar-right__decor-1">
      {% include "html/icons/body-decor-2.svg" %}
    </div>

    <div class="hud-main__sidebar-right__decor hud-main__sidebar-right__decor-2">
      {% include "html/icons/logo-sm.svg" %}
    </div>

    <div class="hud-main__sidebar-right__decor hud-main__sidebar-right__decor-3">
      {% include "html/icons/body-decor-4.svg" %}
    </div>

    <div class="hud-main__sidebar-right__decor hud-main__sidebar-right__decor-4">
      {% include "html/icons/body-decor-5.svg" %}
    </div>

    <div class="hud-main__sidebar-right__decor hud-main__sidebar-right__decor-5">
      {% include "html/icons/body-decor-7.svg" %}
    </div>

    <div class="hud-main__sidebar-right__decor hud-main__sidebar-right__decor-6">
      {% include "html/icons/body-decor-6.svg" %}
    </div>
  </div>

  {# start body #}
  {{ macroVolumeSwiper.volumeSwiper(47) }}

  <div class="nav__content">
    <div class="nav__content__link-group" data-source-id="0">
      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=1 data-menu-item-parent',
        'nav-item nav-item-1',
        'html/icons/icon-building.svg',
        'О заводе «ЗЭТО»',
        'bottom',
        [
          'html/icons/circle-decor-4.svg',
          'html/icons/circle-decor-5.svg'
        ],
        'html/icons/radial-glow-1.svg'
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=2 data-menu-item',
        'nav-item nav-item-2',
        'html/icons/icon-catalog.svg',
        'Продукция производства',
        'bottom',
        [
          'html/icons/circle-decor-4.svg',
          'html/icons/circle-decor-5.svg'
        ],
        'html/icons/radial-glow-1.svg'
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=3 data-menu-item',
        'nav-item nav-item-3',
        'html/icons/icon-tower.svg',
        'Новая продукция',
        'bottom',
        [
          'html/icons/circle-decor-4.svg',
          'html/icons/circle-decor-5.svg'
        ],
        'html/icons/radial-glow-1.svg'
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=4 data-menu-item',
        'nav-item nav-item-4',
        'html/icons/icon-diagram.svg',
        'Проекты «ЗЭТО»',
        'bottom',
        [
          'html/icons/circle-decor-4.svg',
          'html/icons/circle-decor-5.svg'
        ],
        'html/icons/radial-glow-1.svg'
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=5 data-menu-item',
        'nav-item nav-item-5',
        'html/icons/icon-lighthouse.svg',
        'Испытательный центр',
        'bottom',
        [
          'html/icons/circle-decor-4.svg',
          'html/icons/circle-decor-5.svg'
        ],
        'html/icons/radial-glow-1.svg'
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=6 data-menu-item',
        'nav-item nav-item-6',
        'html/icons/icon-light.svg',
        'Кластер псковский',
        'bottom',
        [
          'html/icons/circle-decor-4.svg',
          'html/icons/circle-decor-5.svg'
        ],
        'html/icons/radial-glow-1.svg'
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=7 data-menu-item',
        'nav-item nav-item-7',
        'html/icons/icon-building-1.svg',
        'Технопарк «Электополис»',
        'bottom',
        [
          'html/icons/circle-decor-4.svg',
          'html/icons/circle-decor-5.svg'
        ],
        'html/icons/radial-glow-1.svg'
      ) }}

      <div class="nav__content__overlay"></div>
    </div>

    <div class="nav__content__link-group" data-source-id="1">
      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=8 data-menu-item',
        'nav-item btn-xl nav-item-1',
        false,
        'История',
        'center',
        [
          'html/icons/circle-decor-6.svg',
          'html/icons/circle-decor-7.svg'
        ],
        'html/icons/radial-glow.svg'
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=9 data-menu-item',
        'nav-item btn-xl nav-item-2',
        false,
        'Наше время',
        'center',
        [
          'html/icons/circle-decor-6.svg',
          'html/icons/circle-decor-7.svg'
        ],
        'html/icons/radial-glow.svg'
      ) }}

      {{ macroButtonLink.buttonLink(
        '#',
        'data-id=10 data-menu-item',
        'nav-item btn-xl nav-item-3',
        false,
        'Великие Луки',
        'center',
        [
          'html/icons/circle-decor-6.svg',
          'html/icons/circle-decor-7.svg'
        ],
        'html/icons/radial-glow.svg'
      ) }}

      <div class="nav__content__overlay"></div>
    </div>

    <div class="nav__content__overlay"></div>
  </div>

  {{ macroButtonLink.buttonLink(
    '#',
    '',
    'close hud-main__close',
    'html/icons/icon-close.svg',
    'Закрыть',
    'pointer',
    [],
    'html/icons/radial-glow-3.svg',
    false
  ) }}
  {# end body #}

  <div class="hud-main__footer">
    <div class="hud-main__footer__decor__container">
      <div class="hud-main__footer__decor__row-1 hud-main__footer__decor__row-center">
        <div class="hud-main__footer__decor__item">
          {% include "html/icons/top-lines.svg" %}
        </div>
      </div>
      <div class="hud-main__footer__decor__row-2 hud-main__footer__decor__row-space-between">
        <div class="hud-main__footer__decor__item">
          {% include "html/icons/side-lines.svg" %}
        </div>
        <div class="hud-main__footer__decor__item hud-main__footer__decor__item-reverse">
          {% include "html/icons/side-lines.svg" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
