{% extends "html/templates/simple.njk" %}

{% block documentTitle %}Список страниц{% endblock %}

{% block content %}

<div class="plb">
  <div class="plb__container">
    <ul>
      <li><a href="preloader.njk">Прелоадер</a></li>
      <li><a href="main.njk">Главная страница</a></li>
    </ul>
  </div>
</div>

{% endblock %}
