{% extends "html/templates/simple.njk" %}

{% block documentTitle %}Список страниц{% endblock %}

{% block content %}

<div class="plb">
  <div class="plb__container">
    <ul>
      <li><a href="01-preloader.njk">Прелоадер</a></li>
      <li><a href="02-hud-main.njk">Главная страница</a></li>
      <li><a href="03-hud-article.njk">Страница текстового материала</a></li>
    </ul>
  </div>
</div>

{% endblock %}
