{% extends "html/templates/simple.njk" %}

{% block documentTitle %}Главная{% endblock %}

{% block content %}

<div class="hud-main">
  <div class="hud-main__bg">
    <div class="hud-main__bg__video">Фоновое видео</div>
    <div class="hud-main__bg__decor-top"></div>
    <div class="hud-main__bg__decor-bottom"></div>
  </div>

  <div class="hud-main__header">
    <div class="hud-main__header__decor__container">
      <div class="hud-main__header__decor__row-1 hud-main__header__decor__row-center">
        <div class="hud-main__header__decor__item">
          {% include "html/icons/top-lines.svg" %}
        </div>
      </div>
      <div class="hud-main__header__decor__row-2 hud-main__header__decor__row-space-between">
        <div class="hud-main__header__decor__item">
          {% include "html/icons/side-lines.svg" %}
        </div>
        <div class="hud-main__header__decor__item hud-main__header__decor__item-reverse">
          {% include "html/icons/side-lines.svg" %}
        </div>
      </div>
      <div class="hud-main__header__decor__row-3 hud-main__header__decor__row-space-between">
        <div class="hud-main__header__decor__item">
          {% include "html/icons/side-decor-1.svg" %}
        </div>
        <div class="hud-main__header__decor__item hud-main__header__decor__item-reverse">
          {% include "html/icons/side-decor-1.svg" %}
        </div>
      </div>
      <div class="hud-main__header__decor__row-4 hud-main__header__decor__row-space-between">
        <div class="hud-main__header__decor__item">
          {% include "html/icons/side-decor-2.svg" %}
        </div>
        <div class="hud-main__header__decor__item hud-main__header__decor__item-reverse">
          {% include "html/icons/side-decor-2.svg" %}
        </div>
      </div>
      <div class="hud-main__header__decor__row-5 hud-main__header__decor__row-center">
        <div class="hud-main__header__decor__item-9">
          {% include "html/icons/center-decor.svg" %}
        </div>
      </div>
    </div>
  </div>

  <div class="hud-main__footer">
    <div class="hud-main__footer__decor__container">
      <div class="hud-main__footer__decor__row-1 hud-main__footer__decor__row-center">
        <div class="hud-main__footer__decor__item">
          {% include "html/icons/top-lines.svg" %}
        </div>
      </div>
      <div class="hud-main__footer__decor__row-2 hud-main__footer__decor__row-space-between">
        <div class="hud-main__footer__decor__item">
          {% include "html/icons/side-lines.svg" %}
        </div>
        <div class="hud-main__footer__decor__item hud-main__footer__decor__item-reverse">
          {% include "html/icons/side-lines.svg" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
